{% extends 'base.html' %}
{% block content %}
<div class="d-flex p-2 bd-highlight">This page in progress, but you can download some materials about Information security and DevOps. Programming not yet available.</div>
    <!--====== NAVBAR TWO PART START ======-->
    <div class="content">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="text-center mt-50">
                    <ul>
                        {% for dir in files%}
                        <li><a href="{{ url_for('list_dirs', dir=dir) }}"> {{ dir }}</a></li>
                        {% endfor %}
                    </ul>
                </div> <!-- portfolio menu -->
            </div>
        </div>
    </div>
{% endblock %}